:root {
    --A4-height: 297mm;
    --A4-width: 210mm;
    --font-base: -apple-system,BlinkMacSystemFont,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif,"Segoe UI Emoji";
    --font-code: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,monospace,"Segoe UI Emoji";
}

.markdown-body {
    font-family: var(--font-base) !important;
}

pre > code {
    white-space: pre-wrap !important;
    font-size: 85% !important;
}

/* mermaid */
pre.mermaid {
    background-color: unset;
}

blockquote {
    color: currentColor !important;
}

tr {
    background-color: unset !important;
}

thead {
    background-color: #f6f8fa;
}

.dont-show-header thead {
    display: none;
}

table th, table td {
    border: 1px solid #dfe2e5 !important;
}

aside {
    border-radius: 3px;
    background: rgb(241, 241, 239);
    padding: 16px;
    margin-bottom: 16px;
    width: 100%;
    position: relative;
}

aside > img:first-of-type {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 24px;
    width: 24px;
    border-radius: 0.25em;
    background-color: unset
}

.katex {
    font-size: 1.21em !important;
}

.mathsf,
.textsf {
    font-family: var(--font-base) !important;
}
.mathtt,
.texttt {
    font-family: var(--font-code) !important;
    font-size: initial !important;
}

*::-webkit-scrollbar {
    display: none;
}

#title p {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 24px;
}

#author-date p {
    text-align: center;
}

.column-wrapper {
    display: flex;
    justify-content: space-between;
}
.column-left {
    flex-basis: 47.5%;
}
.column-right {
    flex-basis: 47.5%;
}

.page {
    page-break-after: always;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    height: var(--A4-height);
    width: var(--A4-width);
}